<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update tech Report</title>
    <style>
        *{
	margin: 0px;
	padding: 0;
	font-family: 'Lato', sans-serif;
    -webkit-print-color-adjust: exact !important;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}



</style>
</head>
<body>
    <h1 style="text-align: center; font-size: 40px;"> Sales Report <h1>
    
    <section>
        <h1>1. Total number of orders count per year</h1>
        <table>
            <tr>
              <th style="border: 1px solid #000; padding: 2px;">Year</th>
              <th style="border: 1px solid #000; padding: 2px;">Order Count</th>
            </tr>
            {% for item in items1 %}
                <tr>
                <td style="border: 1px solid #000; padding: 2px;">{{item.year}}</td>
                <td style="border: 1px solid #000; padding: 2px;">{{item.counts}}</td>
                </tr>
            {% endfor %}
          </table>
    </section>

    <h1 style="padding-top:30px;">2. Total count of distinct customers:<span> {{items2}}</span></h1>

    <section>
        <h1>3. Top 3 customers who have ordered the most with their total amount of
            transactions</h1>
        <table>
            <tr>
              <th style="border: 1px solid #000; padding: 2px;">Customer ID</th>
              <th style="border: 1px solid #000; padding: 2px;">Amount</th>
            </tr>
            {% for item in items3 %}
                <tr>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.customer_id}}</td>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.counts|floatformat:2}}</td>
                </tr>
            {% endfor %}
          </table>
    </section>

    <section>
        <h1>5. Most selling items sub-category names</h1>
        <table>
            <tr>
              <th style="border: 1px solid #000; padding: 2px;">Sub Category</th>
              <th style="border: 1px solid #000; padding: 2px;">Order Count</th>
            </tr>
            {% for item in items5 %}
                <tr>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.sub_category}}</td>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.counts}}</td>
                </tr>
            {% endfor %}
          </table>
    </section>

    <section>
        <h1>6. Region basis sales performance pie chart</h1>
        <table>
            <tr>
              <th style="border: 1px solid #000; padding: 2px;">Region</th>
              <th style="border: 1px solid #000; padding: 2px;">Value</th>
            </tr>
            {% for item in items6 %}
                <tr>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.region}}</td>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.counts}}</td>
                </tr>
            {% endfor %}
          </table>
    </section>

    <section>
        <h1>7. Sales performance line chart over the years</h1>
        <table>
            <tr>
              <th style="border: 1px solid #000; padding: 2px;">Year</th>
              <th style="border: 1px solid #000; padding: 2px;">amount</th>
            </tr>
            {% for item in items7 %}
                <tr>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.year}}</td>
                    <td style="border: 1px solid #000; padding: 2px;">{{item.amounts|floatformat:2}}</td>
                </tr>
            {% endfor %}
          </table>
    </section>


    <section>
        <h1>4. Customer Transactions per Year (from the beginning year to last year)</h1>
        <table style="width:100%; border: 1px solid #000; padding: 2px;">
            <tr style="border: 1px solid #000; padding: 2px;">
              <th style="border: 1px solid #000; padding: 2px;">Customer ID</th>
              <th style="border: 1px solid #000; padding: 2px;">Year</th>
              <th style="border: 1px solid #000; padding: 2px;">Year</th>
              <th style="border: 1px solid #000; padding: 2px;">Year</th>
              <th style="border: 1px solid #000; padding: 2px;">Year</th>
            </tr>
            {% for key, value in items4.items %}
                <tr>
                    <td style="border: 1px solid #000; padding: 2px;">{{key}}</td>
                    {% for k,i in value.items %}
                        <td style="border: 1px solid #000; padding: 2px;">Year : {{k}}, Count: {{i}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </table>
    </section>
    

</body>
</html>